@charset "utf-8";
/* CSS Document */
body
{
    font-family: Goonies;
	margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #fdb347 10%, #000000 10%, #000000 20%, #fdb347 20%, #fdb347 30%, #000000 30%, #000000 40%, #fdb347 40%, #fdb347 50%, #000000 50%, #000000 60%, #fdb347 60%, #fdb347 70%, #000000 70%, #000000 80%, #fdb347 80%, #fdb347 90%, #000000 90%, #000000 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.message
{
    font-size: 55px;
    font-weight: bold;
    background-color: #fdb347;
    color: #000000;
    padding: 10px 20px;
    border: 2px solid #ddd;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 2px #000;
}
.message span
{
    padding: 0px 2px;
    font-weight: 100;
}
.header {
  text-align: center;
  padding: 32px;
  background-color: #000000;
  color: #fff;
  border-bottom: 4px solid #fdb347;
  border-top: 4px solid #fdb347;
}
ul {
list-style: none;
background: #000000;
}
ul li {
display: inline-block;
position: relative;
}
ul li a {
display: block;
padding: 20px 25px;
color: #FFF;
text-decoration: none;
text-align: center;
font-size: 20px;
}
ul li ul.dropdown li {
display: block;
}
ul li ul.dropdown {
width: 100%;
background: #000000;
position: absolute;
z-index: 999;
display: none;
}
ul li a:hover {
background: #fdb347;
}
ul li:hover ul.dropdown {
display: block;
}